body, html {
    min-height: 100%;
    height: 100%;
    margin: 0;  
    background: #111;
}
/*
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.35); dim the background 
}*/

.lato{
    font-family: "Lato", sans-serif;
    font-weight: 300;   
    font-size: 2em;
}

h1{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 10vmin !important;
    margin: 0 !important;
    padding: 5% 0 2% 0;
    text-align: center;
}

h2{
    font-size: 3.4vmin;   
}

p, li, h2, h3 {
    color: #999;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin: 0;
    text-align: center;
}

h4, h5 {
  color: #fff;
  font-weight: 300;
  position: relative;
  font-family: "Raleway", sans-serif;
}

.section{
    background-color: #111;     
    min-height: 100%;
}

#landing {    
    background-size: cover;
    margin: 0;
    padding: 0;
}
#about {
 /* background-image: url(../images/Polygon.jpg);*/
    text-align: left;
}
#portfolio {
    background-image: url(../images/SoftPolygon.jpg);
    text-align: left;    
}
#contact {
    background-image: url(../images/Desert_gs.jpg);
}

#landing .row{
    max-width: 100em;
}
#about .row, #portfolio .row{
    max-width: 85em;
}

.profile-image{
    border-radius: 350px;
    height: 85%;
    width: 85%;
    margin: 5%;
}
.profile-info{
    font-size: 1.2em;   
}

.margin-top2{
  margin-top: 2%;   
}
.margin-top5{
  margin-top: 5%;   
}
.margin-top10{
  margin-top: 10%;   
}
.margin-top15{
  margin-top: 15%;   
}
.margin-bottom5{
    margin-bottom: 5px;
}
.margin-right10{
    margin-right: 10%;   
}
.margin-LR5{
    margin: 0 5%;   
}
.margin-LR10{
    margin: 0 10%;   
}
.padding-top5{
  padding-top: 5%;   
}
.padding-top10{
  padding-top: 10%;   
}
.padding-right5{
  padding-right: 5%;   
}
.padding-right10{
    padding-right: 10%;   
}
.padding-left2{
    padding-left: 2%;   
}
.padding-LR15{
    padding: 0 15%;   
}

.center-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.hexagon-party{
    margin: 2% 0 0 0;
}
.hexagon-party img{
    -webkit-filter: drop-shadow(6px 6px 3px rgba(0,0,0,0.5)); filter: drop-shadow(6px 6px 3px rgba(0,0,0,0.5));   
}
.hexagon-row1{
    transform: translateX(3.5%); 
    padding: 0 5%;
}
.hexagon-row2{
    transform: translateY(-24%);
    padding: 0 5%;
}
.hide{
    display: none;   
}
ul li{
    list-style: none;
    color: #b8b8b8;
}
.initials{
    position: absolute;
    top: 2%;
    left: 1%;
}
.initials span{
    display: inline-block;
    font-size: 6vmin;
}

/*Landing Page Specific Classes*/
.landing-menu{
    position: absolute;
    margin: auto;
    left: 25%; 
    right: 25%;
    top: 50%; 
}
.landing-menu a{
    text-decoration: none;   
}
.landing-item{
    font-size: 4.6vmin;
    text-align: center;   
    margin: 10% 0;
}
.landing-item span{
    padding: 0;   
}
.landing-item span:hover{
    color: #ffcc00;   
}
.splash-logo{
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 30%; 
    text-align: center;
}
.name-first{
    font-family: Lato !important;      
    font-size: 11vmin !important;
    display: inline-block;
    color: #ffcc00;
    padding: 0;
}
.name-last{
    font-family: Lato !important;
    font-size: 11vmin !important;
    display: inline-block;
    color: #555;
    padding: 0;
}
.info-item{
    display: inline-block;
    font-size: 2.6vmin;
    color: #666;
}
.separator{
    color: #999;   
    font-size: 2.6vmin !important;
    font-family: Lato !important;
}

/*About Page Classes*/
#about1{
    background-size: cover;
    background-image: url('../images/Strip_gs.jpg');
    height: 100vmin;
    margin: 0;
    padding: 0;
}
.about-top-text{
    position: absolute;
    left: 10%;
    top: 55%;    
}
.about-izzy{    
    color: #fff;
    text-shadow: 1px 1px #bbb;
    font-size: 6vmin;   
    text-align: left;
}
.about-more{
    font-size: 4vmin;   
    text-align: left;
}
.about-more a{
    color: #ffcc00;
    text-decoration: none !important;
}
#about-info{
    background-color: #555;
    padding: 10vmin 25vmin 0 25vmin;
    height: 25vmin;
}
#about-info h2{
    color: #111 !important;
    text-align: left;
}
#about-info p{
    color: #111 !important;
    font-size: 2.7vmin;
    text-align: left;
}
#about-info span{
    color: #ffcc00;
}
#about-profile{
    height: 100vmin;
}
.about-profile-info{
    padding: 10vmin 25vmin;   
}
.about-profile-info h2{
    padding-top: 6vmin;
    font-size: 4vmin;
    text-align: left; 
}
.about-profile-info p{
    font-size: 2.4vmin;
    text-align: left; 
}
.profile-image{
    border-radius: 50%;   
}
@media screen and (max-width: 700px) {
    .about-top-text{
        top: 40%;    
    }   
    #about-info{
        height: 30vmin;  
    }     
    .about-profile-info{
        padding: 15vmin 20vmin;   
    }
}
@media screen and (max-width: 900px) { 
   #about-info{
        padding: 10vmin 10vmin 0 10vmin;
    }   
}


/*Contact Page Specific Classes*/
.contact-item p{
    font-size: 5vmin;
    color: #fff;
    display: inline-block;
    margin: 2%;
    padding-bottom: 1vmin;
}
.contact-menu{
    margin-top: 3%;
    padding: 0 18% 0 30%;   
}
.contact-menu a{
    text-decoration: none;   
}
#contact .fa{
    color: #555;   
    font-size: 7vmin !important;   
}
@media screen and (max-width: 700px) {
    .contact-menu{
        margin-top: 10%;   
    }    
}
@media screen and (max-width: 550px) {
    .contact-item{
        margin: 5%;   
    }   
}

/*Menu Classes*/
.navigation-wrapper {
	background: #555;
	background: rgba(0, 0, 0, .9);
	padding: 40px 0 0 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 900;
	display: none;
}
.navigation {
	padding: 20px 5% 0 5%;
	display: none;
}
.navigation li{
    margin: 5%;
    text-align: center;
}
.navigation a:hover{
    color: #fff;
}
.navigation a{
    text-decoration: none;
    font-size: 7vmin;
    color: #777;
}
.show-menu {
	display: block;
}
.menu-icon, .close-icon{
    position: fixed;
    color: #333 !important;
    top: 2%;
    right: 1%;
    font-size: 7vmin !important; 
}
.menu-icon:hover, .close-icon:hover{
    cursor: pointer;
    color: #fff;
}
.grey-line{
    border-bottom: 1px solid #333;  
}
.gold-line{
    border-bottom: 1px solid #ffcc00;   
}

/*Footer Classes*/
.footer{
    min-width: 100%;
    background-color: #333;
    position: fixed;
    bottom: 0;   
}
.footer-text{
    font-size: 2vmin;
    line-height: 5vmin;
    text-align: center;
}

/*Color Classes*/
.white{
    color: #fff;   
}
.grey{
    color: #444;   
}
.grey2{
    color: #222;   
}
.grey3{
    color: #111;   
}
.light-grey{
    color: #b8b8b8;   
}
.green{
    color: #5c8f26; 
} 
.gold{
    color: #ffcc00;
}
