body, html {
    min-height: 100%;
    height: 100%;
    margin: 0;
}
.noscroll{
    overflow: hidden;
}
.lato{
    font-family: "Lato", sans-serif;
    font-weight: 300;   
    font-size: 2em;
}
.link{
    color: #ffcc00;   
}
h1{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 10vmin !important;
    margin: 0 !important;
    padding: 5% 0 2% 0;
    text-align: center;
}
h2{
    font-size: 3.4vmin;   
}
h3{
    font-size: 3vmin; 
    text-align: left;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin: 3vmin 0 2vmin 0;
}
a{
    text-decoration: none;   
}
p, li, h2 {
    color: #999;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin: 0;
    text-align: center;
}
h4{
    font-size: 2vmin;
    margin-bottom: 1vmin;
}
h4, h5 {
    color: #fff;
    font-weight: 300;
    position: relative;
    font-family: "Raleway", sans-serif;
}
ul li{
    text-align: left;   
}
.section{
    background-color: #111;     
    min-height: 100%;
}

#landing {    
    background-size: cover;
    margin: 0;
    padding: 0;
    opacity: 0.85;
}
#about {
    text-align: left;
}
#works {
    text-align: left;    
}
#contact {    
    position: relative;
    z-index: 0;
}

#landing .row{
    max-width: 100em;
}
#about .row, #portfolio .row{
    max-width: 85em;
}
.profile-info{
    font-size: 1.2em;   
}
.center-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.hexagon-party{
    margin: 0 40vmin;
}
.hexagon-party img{
    -webkit-filter: drop-shadow(6px 6px 3px rgba(0,0,0,0.5)); filter: drop-shadow(6px 6px 3px rgba(0,0,0,0.5));   
}
.hexagon-row1{
    transform: translateX(3.5%); 
    padding: 0 5%;
}
.hexagon-row2{
    transform: translateY(-24%);
    padding: 0 5%;
}
.hide{
    opacity: 0;  
}
ul li{
    list-style: none;
    color: #b8b8b8;
}
.initials{
    position: absolute;
    top: 2%;
    left: 1%;
}
.initials span{
    display: inline-block;
    font-size: 6vmin;
}
.center{
    text-align: center;   
}
.right{
    text-align: right;   
}

/*Landing Page Specific Classes*/
.landing-overlay{
    opacity: 1;
}
.landing-menu{
    position: absolute;
    margin: auto;
    left: 25%; 
    right: 25%;
    top: 50%; 
}
.landing-menu a{
    text-decoration: none;   
    color: #bbb;
}
.landing-item{
    font-size: 4.6vmin;
    text-align: center;   
    margin: 10% 0;
}
.landing-item:hover{
    cursor: pointer;
}
.landing-item span{
    padding: 0;   
}
.landing-item span:hover{
    color: #ffcc00;   
}
.landing-resume{
    padding-top: 7vmin;
}
.splash-logo{
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 30%; 
    text-align: center;
}
.name-first, .name-last{
    font-family: Lato !important;      
    font-size: 11.4vmin !important;
    display: inline-block;
    color: #ffcc00;
    padding: 0;
}
.name-last{
    color: #555;
}
.info-item{
    display: inline-block;
    font-size: 2.6vmin;
    color: #666;
}
.info-item a{
    color: #666;
}
.separator{
    color: #999;   
    font-size: 2.6vmin !important;
    font-family: Lato !important;
}

/*About Page Classes*/
#BG1{
    background-image: url('../images/strip.jpg');
    background-size: cover;
    overflow: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    z-index: -5;
}
#BG2{
    background-image: url('../images/venicebeach.jpg');
    background-size: cover;
    width: 100vm;
    position: relative;
    z-index: 5;
    padding: 10vh 20vw; 
}
.about-izzy{    
    color: #fff;
    text-shadow: 1px 1px #333;
    font-size: 3.8vmin;   
    text-align: center;
    /*display: none;  Will be animated in */
}
.about-more{
    color: #ccc;
    text-shadow: 1px 1px #333;
    font-size: 2.8vmin;   
    text-align: center;
    padding-top: 5vmin; 
    /*display: none;  Will be animated in */
}
.about-more a{
    color: #ffcc00;
    text-decoration: none !important;
}
#about-info{
    background-color: #222;
    padding: 5vmin 35vmin;
}
#about-info h2{
    color: #666 !important;
    text-align: left;
}
#about-info p{
    color: #666 !important;
    font-size: 2.7vmin;
    text-align: left;
}
#about-info span{
    color: #ffcc00;
}
#about-profile{
    height: 130vmin;    
    background-color: #aaa;
    padding-bottom: 10vmin;
    opacity: 0.95;
}
.about-profile-info{
    padding: 10vmin 55vmin 15vmin 55vmin;  
}
.about-profile-info h2{
    padding-top: 2vmin;
    font-size: 4vmin;
    text-align: left;  
    color: #0971B2;    
    font-family: Raleway;
}
.about-profile-info p{
    font-size: 2.2vmin;
    text-align: left;  
    color: #333;
    font-family: Open Sans;
}
.profile-image{
    border-radius: 50%;
    width: 32vmin;
    height: 32vmin; 
    opacity: 1 !important;   
}
.works-button{
    margin: auto;
    margin-top: 10%;
}
.works-button span{
    padding: 2vmin;
    border: 1px solid #888;
    font-size: 2vmin;
    color: #000;
}
.works-button span:hover{
    padding: 2vmin;
    border: 1px solid #ffcc00;
    font-size: 2vmin;
    color: #fff;    	
}
@media screen and (max-width: 1600px) {   
    .about-profile-info{
        padding: 10vmin 35vmin 15vmin 35vmin;  
    }
}
@media screen and (max-width: 1300px) {   
    .about-profile-info{
        padding: 15vmin 30vmin 20vmin 30vmin;   
    }
    #about-info{
        padding: 5vmin 25vmin;
    }     
    #about-profile{        
        padding-bottom: 20vmin;   
    }
}
@media screen and (max-width: 1000px) { 
    #BG2{
        padding: 10vh 10vw; 
    } 
    #about-info{
        padding: 5vmin 20vmin;
    }   
    #about-profile{        
        padding-bottom: 40vmin;   
    }
    .about-profile-info{
        padding: 15vmin 20vmin 20vmin 20vmin;   
    }
}
@media screen and (max-width: 800px) {
    #BG2{
        padding: 10vh 5vw; 
    } 
    #about-info{
        padding: 5vmin 15vmin;
    }     
    .about-profile-info{
        padding: 15vmin 10vmin 20vmin 10vmin;   
    }
    #about1{
        background-image: url('../images/Strip_gs.jpg');
        width: 100vmin;
        height: 75vmin;
        position: fixed;
        padding-top: 100%;
        z-index: -5;
    }
}

/*Gallery Specific Classes*/
.gallery-header{
    font-size: 3vmin;
    padding: 1vmin;
    color: #fff;
    border-top: 1px solid #ffcc00;
    background-color: #111;
}
.gallery{
    background-color: #555;
}
.gallery-item{
    height: 20vmin;
    background-size: cover;
    background-position: center center;
    text-align: center;
    z-index: 0;
}
.caption{
    position: relative;
    height: 4vmin;
    padding: 2vmin;	
    font-size: 1.6vmin;
	background-color: rgba(0,0,0,0.8);
    z-index: 0;
}
.gallery .gallery-item:hover .caption {
    bottom: -12vmin;
}
.gallery .gallery-item .caption {   
    bottom: -100%;
    transition: all 0.5s ease;
}
.gallery1{
    background-image: url('../gallery/archi.jpg');
}
.gallery2{
    background-image: url('../gallery/ggames.jpg');
}
.gallery3{
    background-image: url('../gallery/homebase.jpg');
}
.gallery4{
    background-image: url('../gallery/dragonboat.jpg');
}
.gallery5{
    background-image: url('../gallery/redbull.jpg');
}
.gallery6{
    background-image: url('../gallery/e3badges.jpg');
}
.gallery7{
    background-image: url('../gallery/acm.jpg');
}
.gallery8{
    background-image: url('../gallery/et.jpg');
}
.gallery9{
    background-image: url('../gallery/treehacks.jpg');
}
.gallery10{
    background-image: url('../gallery/squareenix.jpg');
}
.gallery11{
    background-image: url('../gallery/banana.jpg');
}
.gallery12{
    background-image: url('../gallery/inception.png');
}
.gallery13{
    background-image: url('../gallery/high%20roller.jpg');
}
.gallery14{
    background-image: url('../gallery/ggames2014.jpg');
}
.gallery15{
    background-image: url('../gallery/lahacks.jpg');
}
.gallery16{
    background-image: url('../gallery/hacksc.jpg');
}
.gallery17{
    background-image: url('../gallery/psxcards.jpg');
}
.gallery18{
    background-image: url('../gallery/heroes.jpg');
}

/*Works Page Specific Classes*/
.works-title{
    font-size: 8vmin;
    padding: 5vmin;
    border-top: 1px solid #ffcc00;
    border-bottom: 1px solid #fff;
}
.works-subtitle{
    font-size: 4vmin;
    padding: 2vmin;
    color: #ccc;
    border-top: 1px solid #fff;
    background-color: #111;
}
.works-list{
    padding: 0 0 0 0;
    text-align: center;
}
.works-item{
    height: 40vmin;
    background-color: #555;
    background-size: cover;
    background-position: center center;
    text-align: center;
    opacity: .4;
    filter: alpha(opacity=40); 
}
.works-item:hover{
    height: 40vmin;
    cursor:pointer; 
    opacity: 1;
} 
.hover-overlay{
    position: relative;  
    width: 100%;
    height: 100%;
    opacity: 1;
/*    background-color: #e8c63d;*/
}
.hover-overlay h2{
    display: none;   
}

/*START: WORK ITEM HOVER OVERLAY TRANSITIONS
.works-item{
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    position: relative;
}
.works-item .hover-overlay{
    bottom: 0;
    height: 0;
    opacity: .95;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    width: 0;
}
.works-item:hover .hover-overlay{
    border-bottom: 100vmin solid #e8c63d; 
    border-left: 200vmin solid transparent;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.works-item .hover-overlay-content{
    bottom: 0;
    color: #333;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.works-item:hover .hover-overlay-content{
    opacity: 1;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
END: WORK ITEM HOVER OVERLAY TRANSITIONS*/
.works-item-overlay{    
    background-color: #333;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    height: 50%;
    z-index: 50;
}
.hackathons{
    background-color: #FCF8F2;
    padding: 0 27vmin 10vmin 27vmin;
    font-size: 1.8vmin;
}
.hackathons a{
    color: #0971B2;
    font-size: 1.6vmin;
}
.hackathons p{    
    text-align: left;
    color: #000;
}
.hack-title{
    font-size: 4.4vmin;
    padding: 4vmin;
    color: #111;
    border-top: 1px solid #fff;
    background-color: #FFB330;
}
.hack-event{    
    color: #cc0000;
    font-family: Open Sans;
    padding-top: 2vmin;
}
.hack-header{    
    color: #FFB330;
    font-family: Open Sans;
    margin: 5vmin 0 0 0;
}
.hack-logistics{
    text-align: left;
}
.hack-link{
    margin-top: 1vmin;
    font-size: 1.5vmin;
}
.hack-joke{
    color: #333;
    text-align: center;
    padding: 10vmin 5vmin 5vmin 5vmin;
    font-family: Open Sans;
}
@media screen and (max-width: 1400px) { 
    .hackathons{
        /*Allow more width space on mobile devices*/   
        padding: 0 20vmin 10vmin 20vmin;
    }
}
@media screen and (max-width: 1200px) { 
    .hackathons{
        /*Allow more width space on mobile devices*/   
        padding: 0 15vmin 10vmin 15vmin;
    }
}
@media screen and (max-width: 700px) {   
    .hackathons{
        /*Allow more width space on mobile devices*/    
        padding: 0 10vmin 10vmin 10vmin;    
    }    
}


.elementerra{
    background-image: url('../images/elementerra.jpg');
    height: 45vmin;
}
.elementerra:hover{
    height: 45vmin;   
}
.archipelago{
    background-image: url('../images/archipelago.jpg');
}
.psychic{
    background-image: url('../images/psychic3.jpg');
}
.nomnet{
    background-image: url('../images/nomnet.png');
}
.wheresit{
    background-image: url('../images/wheresit.jpg');
}
.pricetracker{
    background-image: url('../images/pricetracker2.jpg');
    background-position: left top;
}
.usc{
    background-image: url('../images/ultimate.jpg');
}
.whiteboard{
    background-image: url('../images/whiteboard.jpg'); 
}
.coupinions{
    background-image: url('../images/coupinions.jpg');   
}
.arcis{
    background-image: url('../images/arcis.jpg');    
}
.night{
    background-image: url('../images/night.jpg');
}
@media screen and (max-width: 775px) {
    .works-item, .works-item:hover{
        height: 60vmin;
    }
    .works-item{
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
}

/*Contact Page Specific Classes*/
.contact-item p{
    font-size: 5vmin;
    color: #fff;
    display: inline-block;
    margin: 2vmin 0;
    padding-bottom: 1vmin;
}
.contact-menu{
    margin-top: 4vmin;
    padding: 0 18% 0 30%;   
}
.contact-menu a{
    text-decoration: none;   
}
#contact .fa{
    color: #555;   
    font-size: 7vmin !important;   
}
.resume-button{
    margin: auto;
    margin-top: 5%;
}
.resume-button span{
    padding: 2vmin;
    border: 1px solid #777;
    font-size: 2vmin;
    color: #ddd;
}
.resume-button span:hover{
    padding: 2vmin;
    border: 1px solid #ffcc00;
    font-size: 2vmin;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .contact-menu{
        margin-top: 5vmin;   
    }    
    .contact-item p{
        margin: 3vmin 0;
    }
    .resume-button{
        padding-top: 3vmin;
    }
}
@media screen and (max-width: 550px) {
    .contact-item{
        margin: 2vmin;   
    }   
}

/*OVERLAY CLASSES*/
.work-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.9); /*dim the background */
}
.inner-overlay{
    padding: 2vmin 10vmin;   
    position: static;
}
.work-overlay p, .work-overlay h1, .work-overlay h3{
    text-align: left;  
}
.work-overlay h1{
    padding: 1vmin 3vmin 0 5vmin;
}
.work-overlay h3{
    color: #fff;   
}
.work-overlay li{
    font-size: 2.4vmin;  
    color: #666;
    font-family: Open Sans;
}
.item-header{
    color: #ffcc00;    
    width: 70%;
    border-bottom: 1px solid #888;
}
.contribution{
    font-size: 2.4vmin;  
    color: #666;
    font-family: Open Sans;
}
.fa-ul{
    margin-left: 4.2vmin !important;
}
.fa-li{
    color: #fff;   
}
.fa-angle-double-left{
    position: fixed;
    left: 3vmin;
    top: 50vmin;
    color: #777;
    font-size: 6vmin !important;
}
.fa-angle-double-right{
    position: fixed;
    right: 3vmin;
    top: 50vmin;
    color: #777;
    font-size: 6vmin !important;
}
.fa-angle-double-left:hover, 
.fa-angle-double-right:hover{
    cursor:pointer;
}
.item-header a{
    font-size: 6vmin;
    color: #fff;
}
.item-image{
    padding: 0 5vmin;   
}
@media screen and (max-width: 550px) {
    .inner-overlay{
        padding: 2vmin 6vmin;   
    }
}


/*Menu Classes*/
.navigation-wrapper {
	background: #555;
	background: rgba(0, 0, 0, .9);
	padding: 40px 0 0 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 900;
	display: none;
}
.navigation {
	padding: 20px 5% 0 5%;
	display: none;
}
.navigation li{
    margin: 5%;
    text-align: center;
}
.navigation a:hover{
    color: #fff;
}
.navigation a{
    text-decoration: none;
    font-size: 7vmin;
    color: #777;
}
.show-menu {
	display: block;
}
.menu-icon, .close-icon, .close-icon-work{
    position: fixed;
    color: #777 !important;
    top: 3%;
    right: 2%;
    font-size: 7vmin !important; 
    z-index: 100;
}
.menu-icon:hover, .close-icon:hover, .close-icon-work:hover{
    cursor: pointer;
    color: #fff;
    z-index: 100;   
}
.resume-icon{
    position: fixed;
    color: #fff !important;
    top: 10%;
    right: 2%;
    font-size: 4vmin !important; 
    z-index: 100;
}
.resume-icon:hover{
    cursor: pointer;
    color: #777;
    z-index: 100;   
}
.grey-line{
    border-bottom: 1px solid #333;  
}
.gold-line{
    border-bottom: 1px solid #ffcc00;   
}

/*Footer Classes*/
.footer{
    min-width: 100%;
    background-color: #333;
    position: fixed;
    bottom: 0;   
}
.footer-text{
    font-size: 2vmin;
    line-height: 5vmin;
    text-align: center;
}
.elevator{
    position: absolute;
    bottom: 0.8vmin;
    right: 5vmin;
    z-index: 500;
}
.elevator a{
    color: #555;   
}
.elevator:hover{    
    cursor: pointer;
}

/*Shadow Classes*/
.shadow{
    text-shadow: 1px 2px grey;
}

/*Color Classes*/
.white{
    color: #fff;   
}
.grey{
    color: #444;   
}
.grey2{
    color: #222;   
}
.grey3{
    color: #111;   
}
.light-grey{
    color: #b8b8b8;   
}
.green{
    color: #5c8f26; 
} 
.gold{
    color: #ffcc00;
}
.gold2{
    color: #CD950C;   
}
.blue{
    color: #0971B2;   
}
.red{
    color: #cc0000;
}
.bg-grey{
    background-color: #222;   
}
