body, html {
    min-height: 100%;
    height: 100%;
    margin: 0;  
}

/*
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.35); dim the background 
}*/

.lato{
    font-family: "Lato", sans-serif;
    font-weight: 300;   
    font-size: 2em;
}

h1{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 10vmin !important;
    margin: 0 !important;
    padding: 5% 0 2% 0;
    text-align: center;
}

h2{
    font-size: 3.4vmin;   
}

a{
    text-decoration: none;   
}

p, li, h2, h3 {
    color: #999;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin: 0;
    text-align: center;
}

h4, h5 {
  color: #fff;
  font-weight: 300;
  position: relative;
  font-family: "Raleway", sans-serif;
}

.section{
    background-color: #111;     
    min-height: 100%;
}

#landing {    
    background-size: cover;
    margin: 0;
    padding: 0;
}
#about {
    text-align: left;
}
#works {
    text-align: left;    
}
#contact {
    display: none; /* Will fade in */
}

#landing .row{
    max-width: 100em;
}
#about .row, #portfolio .row{
    max-width: 85em;
}
.profile-info{
    font-size: 1.2em;   
}
.center-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.hexagon-party{
    margin: 0 40vmin;
}
.hexagon-party img{
    -webkit-filter: drop-shadow(6px 6px 3px rgba(0,0,0,0.5)); filter: drop-shadow(6px 6px 3px rgba(0,0,0,0.5));   
}
.hexagon-row1{
    transform: translateX(3.5%); 
    padding: 0 5%;
}
.hexagon-row2{
    transform: translateY(-24%);
    padding: 0 5%;
}
.hide{
    opacity: 0;  
}
ul li{
    list-style: none;
    color: #b8b8b8;
}
.initials{
    position: absolute;
    top: 2%;
    left: 1%;
}
.initials span{
    display: inline-block;
    font-size: 6vmin;
}
.center{
    text-align: center;   
}

/*Landing Page Specific Classes*/
.landing-menu{
    position: absolute;
    margin: auto;
    left: 25%; 
    right: 25%;
    top: 50%; 
}
.landing-menu a{
    text-decoration: none;   
}
.landing-item{
    font-size: 4.6vmin;
    text-align: center;   
    margin: 10% 0;
}
.landing-item span{
    padding: 0;   
}
.landing-item span:hover{
    color: #ffcc00;   
}
.splash-logo{
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 30%; 
    text-align: center;
}
.name-first, .name-last{
    font-family: Lato !important;      
    font-size: 11.4vmin !important;
    display: inline-block;
    color: #ffcc00;
    padding: 0;
}
.name-last{
    color: #555;
}
.info-item{
    display: inline-block;
    font-size: 2.6vmin;
    color: #666;
}
.separator{
    color: #999;   
    font-size: 2.6vmin !important;
    font-family: Lato !important;
}
.resume-button{
    position: absolute;
    margin: auto;
    bottom: 20%;
    left: 0; 
    right: 0;
}
.resume-button span{
    padding: 2vmin;
    border: 1px solid #777;
    font-size: 2vmin;
    color: #ddd;
}
.resume-button span:hover{
    padding: 2vmin;
    border: 1px solid #ffcc00;
    font-size: 2vmin;
    color: #fff;
}

/*About Page Classes*/
.strip{
    height: 100vmin;
    widows: 100%;
}
#about1{
    background-size: cover;
    background-image: url('../images/Strip_gs.jpg');
    width:100%;
    height: 100vmin;
    position: fixed;
    padding: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
}
.about-top-text{
    position: absolute;
    left: 10%;
    top: 55%;    
}
.about-izzy{    
    color: #fff;
    text-shadow: 1px 1px #ddd;
    font-size: 6vmin;   
    text-align: left;
    display: none; /* Will be animated in */
}
.about-more{
    font-size: 4vmin;   
    text-align: left;
    display: none; /* Will be animated in */
}
.about-more a{
    color: #ffcc00;
    text-decoration: none !important;
}
#about-info{
    background-color: #222;
    padding: 10vmin 35vmin 0 35vmin;
    height: 25vmin;
}
#about-info h2{
    color: #666 !important;
    text-align: left;
}
#about-info p{
    color: #666 !important;
    font-size: 2.7vmin;
    text-align: left;
}
#about-info span{
    color: #ffcc00;
}
#about-profile{
    height: 130vmin;    
    background-color: #bbb;
}
.about-profile-info{
    padding: 10vmin 55vmin;  
}
.about-profile-info h2{
    padding-top: 6vmin;
    font-size: 4vmin;
    text-align: left;  
    color: #111;    
    font-family: Raleway;
}
.about-profile-info p{
    font-size: 2.2vmin;
    text-align: left;  
    color: #333;
    font-family: Open Sans;
}
.profile-image{
    border-radius: 50%;
    width: 35vmin;
    height: 35vmin;    
}
@media screen and (max-width: 700px) {
    .about-top-text{
        top: 40%;    
    }   
    #about-info{
        height: 30vmin;  
    }     
    .about-profile-info{
        padding: 15vmin 20vmin;   
    }
}
@media screen and (max-width: 900px) { 
    #about-info{
        padding: 10vmin 10vmin 0 10vmin;
    }   
    #about-profile{        
        padding-bottom: 40vmin;   
    }
}

/*Works Page Specific Classes*/
.works-title{
    font-family: Lato;
    font-size: 6vmin;
    padding-top: 5vmin;
}
.works-list{
    padding: 0 0 5vmin 0;
    text-align: center;
}
.works-item{
    height: 40vmin;
    background-color: #555;
    background-size: cover;
    background-position: center center;
    text-align: center;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.works-item:hover{
    height: 40vmin;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    cursor:pointer;
}
.works-item-overlay{    
    background-color: #333;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    height: 50%;
    z-index: 50;
}
.elementerra{
    background-image: url('../images/elementerra.jpg');
}
.pricetracker{
    background-image: url('../images/pricetracker2.jpg');
    background-position: left top;
}
.usc{
    background-image: url('../images/ultimate.jpg');
}
.whiteboard{
    background-image: url('../images/whiteboard.jpg'); 
}
.coupinions{
    background-image: url('../images/coupinions.jpg');   
}
.arcis{
    background-image: url('../images/arcis.jpg');    
}
.night{
    background-image: url('../images/night.jpg');
}
@media screen and (max-width: 775px) {
    .works-item, .works-item:hover{
        height: 60vmin;
    }
}

/*Contact Page Specific Classes*/
.contact-item p{
    font-size: 5vmin;
    color: #fff;
    display: inline-block;
    margin: 2%;
    padding-bottom: 1vmin;
}
.contact-menu{
    margin-top: 3%;
    padding: 0 18% 0 30%;   
}
.contact-menu a{
    text-decoration: none;   
}
#contact .fa{
    color: #555;   
    font-size: 7vmin !important;   
}
@media screen and (max-width: 700px) {
    .contact-menu{
        margin-top: 10%;   
    }    
}
@media screen and (max-width: 550px) {
    .contact-item{
        margin: 5%;   
    }   
}

/*Menu Classes*/
.navigation-wrapper {
	background: #555;
	background: rgba(0, 0, 0, .9);
	padding: 40px 0 0 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 900;
	display: none;
}
.navigation {
	padding: 20px 5% 0 5%;
	display: none;
}
.navigation li{
    margin: 5%;
    text-align: center;
}
.navigation a:hover{
    color: #fff;
}
.navigation a{
    text-decoration: none;
    font-size: 7vmin;
    color: #777;
}
.show-menu {
	display: block;
}
.menu-icon, .close-icon{
    position: fixed;
    color: #333 !important;
    top: 2%;
    right: 1%;
    font-size: 7vmin !important; 
    z-index: 100;
}
.menu-icon:hover, .close-icon:hover{
    cursor: pointer;
    color: #fff;
}
.grey-line{
    border-bottom: 1px solid #333;  
}
.gold-line{
    border-bottom: 1px solid #ffcc00;   
}

/*Footer Classes*/
.footer{
    min-width: 100%;
    background-color: #333;
    position: fixed;
    bottom: 0;   
}
.footer-text{
    font-size: 2vmin;
    line-height: 5vmin;
    text-align: center;
}

/*Color Classes*/
.white{
    color: #fff;   
}
.grey{
    color: #444;   
}
.grey2{
    color: #222;   
}
.grey3{
    color: #111;   
}
.light-grey{
    color: #b8b8b8;   
}
.green{
    color: #5c8f26; 
} 
.gold{
    color: #ffcc00;
}
.gold2{
    color: #CD950C;   
}
.bg-grey{
    background-color: #222;   
}
