.imagecontour {
 padding: 10px; 
 border: solid 1px #EFEFEF;
 background-color: #FFFFFF;
 }
 
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.role
{
    margin: 0;
    color: #222;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
}



/* Handle top photo diagonal bottom border issues */
@media (min-width: 2200px) {
    .welcome-container{
        min-height: 850px !important;
    }   
    .c-content-feature-4 .c-feature-content .c-content-v-center {
        height: 750px; /* Izzy change to 750px */
    } 
}

@media (min-width: 992px max-width:2200px) {

    .welcome-container{
        min-height: 850px !important;
        max-height: 650px !important;
    }   
    .c-content-feature-4 .c-feature-content .c-content-v-center {
        height: 70px; /* Izzy change to 750px */
    } 
  .c-content-feature-4 .c-content-right.c-diagonal {
    border-left: 100px solid !important;
    border-top: 600px solid transparent !important; } /* Izzy change to 750px */
}

/* FOR MOBILE */
@media (max-width: 991px) {
    .welcome-container{
        display: none !important;
        min-height: 100% !important;
    }       
    .c-feature-content .c-content-v-center{
        padding: 0 !important;
    }
    .c-feature-content .c-content-v-center .c-wrapper{
        height: 450px !important;
    }
}0