.imagecontour {
 padding: 10px; 
 border: solid 1px #EFEFEF;
 background-color: #FFFFFF;
 }
 
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

@media (min-width: 992px) {
    .welcome-container{
        min-height: 850px !important;
    }   
}

/* FOR MOBILE */
@media (max-width: 991px) {
    .welcome-container{
        display: none !important;
        min-height: 100% !important;
    }       
    .c-feature-content .c-content-v-center{
        padding: 0 !important;
    }
    .c-feature-content .c-content-v-center .c-wrapper{
        height: 450px !important;
    }
}